# Supabase Configuration
SUPABASE_URL=https://ybnzezsvnqdzbszjfuku.supabase.co
SUPABASE_SERVICE_ROLE_KEY=sb_publishable_OsTRVv6artHV9mZQY8uVmw_T12JBQ9R
PUBG_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJqdGkiOiIzN2JlZGZiMC1jYzNmLTAxM2QtNjc0Ni02ZTVlYTRlOTc1ODMiLCJpc3MiOiJnYW1lbG9ja2VyIiwiaWF0IjoxNzM5NDU0NTQ2LCJwdWIiOiJibHVlaG9sZSIsInRpdGxlIjoicHViZyIsImFwcCI6Im1sX3B1YmdfcGMifQ.stNg7upgrtrR4jTNOqAgbATOYxBxBQaqqN4Qq4WDhf4 
# Server Configuration
PORT=8080