/* TournamentTable.css */

/* General Container */
.page-container {
    padding: 0px 40px;
    max-width: 1400px;
    margin: 0 auto;

}

/* --- Table Styles --- */
.t-table {
    width: 100%;
    font-size: 1.2rem;
    border-collapse: collapse;
    text-align: center;
    margin: 30px 0;
}

/* Header Styles */
.t-table thead th {
    background-color: #0c0c0c;
    background-image: url("../../assets/subheader/table-header.png");
    background-attachment: fixed;
    /* Almost black */
    color: white;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 18px 20px;
    text-transform: uppercase;
    text-align: center;
}

.t-table thead th.th-left {
    text-align: center;
    padding-left: 40px;
    /* Indent for the first column */
}


/* Row Styles */
.t-table tbody tr {
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;


    background-color: white;
}

.t-table tbody td {
    padding: 30px 20px;
    vertical-align: middle;
    color: #000;
    font-weight: 600;
}

/* Column 1: Logo & Name */
.td-tournament {
    width: 40%;
    text-align: left;
}

.t-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.t-logo {
    width: 60px;
    height: auto;
    object-fit: contain;
}

.t-name {
    font-size: 1.2rem;
    font-weight: 800;
    /* Extra bold */
    text-transform: uppercase;
    line-height: 1.2;
    display: inline-block;
    position: relative;
}

.t-name::after {
    content: "";
    width: 0%;
    display: block;
    position: absolute;
    height: 4px;
    background-color: var(--primary-color);
    transition: width 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.tr-tournament:hover .t-name::after {
    width: 100%;
}

/* Column 2 & 3: Prize & Schedule */
.td-prize,
.td-schedule {
    width: 20%;
    font-size: 0.95rem;
    white-space: pre-line;

    /* Allows the \n to work */
}

/* Column 4: Status Badge */
.td-status {
    width: 15%;
    text-align: center;
}

.status-badge {
    display: inline-block;
    padding: 8px 24px;
    border-radius: 50px;
    /* Pill shape */
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    min-width: 80px;
    text-align: center;
}

/* Specific Badge Colors */
.status-badge.ended {
    background-color: #B0B0B0;
    /* Grey for Ended */
    color: white;
}

.status-badge.live {
    background-color: #ff0000;
    /* Yellow for Live */
    color: black;
}

.status-badge.upcoming {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.show-more button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}

.show-more-btn {
    width: 100%;
    height: 38px;
    background-color: rgb(239, 238, 238);
    color: var(--text-color);
    margin-top: 30px;
    margin-bottom: 40px;
    border: none;
}

.mobile-view {
    display: none;
}



@media (max-width: 1024px) {
    .t-name {
        font-size: 1rem;
    }

    .mobile-view {
        display: none;
    }
}

@media (max-width: 768px) {
    .page-container {
        padding: 0px 16px;
    }

    .pc-view {
        display: none;
    }

    .mobile-view {
        display: block;
        width: 100%;
    }
    .t-table {
        font-size: 16px;
    }
    .t-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

    .t-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .row-details {
        display: flex;
        align-items: start;
        width: 100%;
        margin: 24px 15px 24px 15px;
        justify-content: space-evenly;
        font-size: 13px;
    
    }

    .label {
        font-weight: 700;
        text-transform: uppercase;
        margin-right: 8px;
        color: var(--text-faded-color);
    }
    .price-details {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0 20px 0 20px;
        gap: 10px;
        color: var(--text-color);
    
    }
    .schedule-details {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0px 20px 0px 20px;
        gap: 10px;
    }

    .value {
        align-items: start;
    }

}