:root {
    font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    --primary-color: rgba(239, 249, 35, 1);
    --text-color: rgb(0, 0, 0);
    --background-color: #ffffff;
    --text-faded-color: rgba(181, 181, 181, 1);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px 0px 0px 0px;
    min-width: 320px;
    min-height: 100vh;
    padding-top: 80px;
    background-color: var(--background-color);
    color: var(--text-color);
}


@media (max-width: 768px){
    body {
        padding-top: 72px;
    }
}