@import "./styles/variables.css";
@import "./styles/reset.css";
@import "./styles/components.css";
@import "./styles/global.css";

:root {
    font-family: var(--font-family);
    color-scheme: light dark;
    /* --primary-color: rgba(239, 249, 35, 1); */
    /* --primary-color: #B6FF2E; */
    /* --text-color: rgb(0, 0, 0); */
    /* --background-color: #1F2329;
    --text-faded-color: rgba(181, 181, 181, 1); */


}


.form-error {
    color: red;
    font-size: 0.8rem;
    margin-top: 4px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

